$themecolor: #21a185;
$themehover: #20856a;
$error: #f00;
$gray-2: #999;
$gray-1: #666;
$black: #333;

//字号
$fs12: 0.12rem;
$fs16: 0.16rem;
$fs18: 0.18rem;
$fs20: 0.20rem;
$fs22: 0.22rem;
$fs24: 0.24rem;
$fs26: 0.26rem;
$fs28: 0.28rem;
$fs30: 0.30rem;
$fs32: 0.32rem;
$fs34: 0.34rem;